mixin ios(domain)
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-title" content="<%= name %>")
  link(rel="apple-touch-icon" href=domain+"/public/favicon/apple-touch-icon.png")
  link(rel="apple-touch-icon-precomposed" href=domain+"/public/favicon/apple-touch-icon-precomposed.png")
  link(rel="apple-touch-icon" sizes="57x57" href=domain+"/public/favicon/icon-57.png")
  link(rel="apple-touch-icon" sizes="72x72" href=domain+"/public/favicon/icon-72.png")
  link(rel="apple-touch-icon" sizes="114x114" href=domain+"/public/favicon/icon-114.png")
  link(rel="apple-touch-icon" sizes="144x144" href=domain+"/public/favicon/icon-144.png")
  link(rel="apple-touch-startup-image" href=domain+"/public/favicon/startup.png")
